<%= bootstrap_form_for(@addresse, as: :addresse, url: user_addresses_path(current_user.id), html: { method: :post }) do |a| %>
  <% if @addresse.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@addresse.errors.count, "error") %> prohibited this addresse from being saved:</h2>

      <ul>
      <% @addresse.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= a.select :typeAddresse, Addresse.typeAddresses.keys.to_a %><br>
  <%= a.text_field :number %><br />
  <%= a.text_field :street %><br />
  <%= a.text_field :zipcode %><br />
  <%= a.text_field :city %><br />  
  <%= a.text_field :country %><br />
  <%= a.submit "Add Address" %>
<% end %>