
<p>
<strong>Firstname:</strong>
<%= @user.firstname %>
</p>

<p>
<strong>Lastname:</strong>
<%= @user.lastname %>
</p>

<p>
<strong>Email:</strong>
<%= @user.email %>
</p>


<button class="button" onclick="$('#targetAdd').toggle();">Add an address</button>
<div id="targetAdd" style="display: none">
<%= render 'form' %>
</div> 

<button class="button" onclick="$('#targetView').toggle();">View addresses</button>
<div id="targetView" style="display: none">
<%= render 'addrlist' %>
</div> 