<div class="container">
<p>
<strong>Firstname:</strong>
<%= @user.firstname %>
</p>

<p>
<strong>Lastname:</strong>
<%= @user.lastname %>
</p>

<p><strong>Rating:</strong>
<%= @user.avgrate %></p>
<p>

<p>
<strong>Email:</strong>
<%= @user.email %>
</p>

<p>
<strong>Role:</strong>
<% if true == @user.admin %>Admin <% end %>
<% if false == @user.admin %>User <% end %>
</p>

<% if current_user.admin? && !@user.admin? %>
	<%= bootstrap_form_for(@user, url: giveRight_user_path(@user)) do |u| %>
    	<%= u.submit "Add Right" %>
 	<% end %>
 <% end %>

 <div class="container-fluid">
 <% if @user.products.count != 0 %>
	<h3>The products of : <%= @user.firstname %></h3>
  		<div class="row" >
			<% @prods[0,8].each do |p| %>
             <div class="col-md-4 ">
             	<div class="prodlist"><h4><%=p.title -%></h4>
             	Category : <%=p.category %><br>
             	Price :<%= number_to_currency(p.price, precision: 2)-%><br>
             	Rating :<%= p.avgrate -%><br>
             	<td><%= link_to 'More', p, :class=>"btn btn-primary btn-xs" %></td>
             </div></div>
             <% end -%>
		</div>
	<% end -%>	
</div>	

<button class="btn btn-default" onclick="$('#targetView').toggle();">View addresses</button>
<div id="targetView" style="display: none">
<%= render 'addrlist' %>
</div>

<% if @user == current_user %>
<button class="btn btn-default" onclick="$('#targetAdd').toggle();">Add an address</button>
<div id="targetAdd" style="display: none">
<%= render 'form' %>
</div> 
<% end %>

<button class="btn btn-default" onclick="$('#targetAddComment').toggle();">View notice</button>
<div id="targetAddComment" style="display: none">
<%= render './ratings/index' %>
</div> 

<% if @user != current_user %>
<button class="btn btn-default" onclick="$('#targetAdd').toggle();">Add an notice</button>
<div id="targetAdd" style="display: none">
<%= render './ratings/form' %>
</div> 
<% end %>

</div>