<%= bootstrap_form_for(@rating, as: :rating, url: edit_user_rating_path(@rating.id, @rating.user)) do |a| %>
  <% if @rating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rating.errors.count, "error") %> prohibited this rating from being saved:</h2>

      <ul>
      <% @rating.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= a.text_field :title %><br />
  <%= a.text_field :comment %><br />
  <%= a.number_field :rate %><br />
  <%= a.submit "Edit"  %>
<% end %>