<%= bootstrap_form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <%= f.text_field :name, :as => :autocomplete, :source_query => autocomplete_category_name_categories_path %>
  <div class="field">
    <%= f.collection_select :parent_id, Category.arrange_as_array({:order => 'name'}, @category.possible_parents) , :id, :name_for_selects, :include_blank => true %>
  </div> 
  <div class="field">
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
