<h3 class="title_prod">
  <%= @product.title %>
</h3>

<div class="meta"> <%= @product.category %> - <%= @product.created_at.strftime("created at %B %d at %I:%M %p") %> by <strong><%= @product.user.firstname %></strong></div>

<div class="table_price_rating">
	<div class="price">
  		<%= number_to_currency(@product.price, precision: 2)  %>
	</div>
	<div class="rating">
		<strong>Rating:</strong>
		<%= @product.avgrate %>
	</div>
	<div class-"btnprice">
		<button type="button" class="btn btn-info" data-toggle="modal" data-target="#bidModal">
    		Custom Bidding
		</button>
	</div>
	<div class="btnprice">
		<%= bootstrap_form_for(@product, as: :auto_bid, url: minbidded_product_path(@product), html: { method: :patch }) do |p| %>
				<%= p.submit "Auto bid", class:"btn btn-success" %>
			<% end -%>
	</div>
	<div class = "btnprice">
		<%= bootstrap_form_for(@product, url: immediat_product_path(@product), html: { method: :patch }) do |p| %>
				<%= p.submit "Immediat buy", class:"btn btn-warning" %>
		<% end -%>
	</div>
</div>
<strong>Description:</strong>
	<%= @product.description %>
<div class="image_prod">
<p>
  <strong>Image url:</strong>
  <%= @product.image_url %>
</p>
</div>

<button class="btn btn-default" onclick="$('#targetAddComment').toggle();">View notice</button>
<div id="targetAddComment" style="display: none">
<%= render './ratings/index' %>
</div> 

<% if @product.user != current_user %>
<button class="btn btn-default" onclick="$('#targetAdd').toggle();">Add an notice</button>
<div id="targetAdd" style="display: none">
<%= render './ratings/formproduct' %>
</div> 
<% end %>
<% if user_signed_in? %>
<%= link_to 'Edit', edit_product_path(@product), class:"btn btn-default" %> |
<% end -%>
<%= link_to 'Back', products_path, class:"btn btn-default" %>


<!-- Modal -->
<div id="bidModal" tabindex="-1" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"> Custom bidding</h4>
      </div>
      <div class="modal-body">



<%= bootstrap_form_for(@bidding, as: :bidding, url: product_biddings_path(@product.id)) do |b| %>
  <% if @bidding.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bidding.errors.count, "error") %> prohibited this bidding from being saved:</h2>

      <ul>
      <% @bidding.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>
  <h3>Choose the amount for bidding over the current price</h3>
      <div class="field" >
        <%= b.number_field :amount, step: 0.01 %>
      </div>
      <div class="actions">
        <%= b.submit %>
      </div>
  </div>
<% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>