<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p><strong>Seller:</strong>
<%= @product.user.firstname %>
</p>

<p><strong>Created at:</strong>
<%= @product.created_at %>
</p>

<p><strong>Rating:</strong>
<%= @product.avgrate %>
</p>

  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @product.image_url %>
</p>

<button class="btn btn-default" onclick="$('#targetAddComment').toggle();">View advice</button>
<div id="targetAddComment" style="display: none">
<%= render './ratings/index' %>
</div> 

<% if @product.user != current_user %>
<button class="btn btn-default" onclick="$('#targetAdd').toggle();">Add an advice</button>
<div id="targetAdd" style="display: none">
<%= render './ratings/formproduct' %>
</div> 
<% end %>
<% if user_signed_in? %>
<%= link_to 'Edit', edit_product_path(@product), class:"btn btn-default" %> |
<% end -%>
<%= link_to 'Back', products_path, class:"btn btn-default" %>
