<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
		 	<a class="navbar-brand" href="/">The Rails Braderie</a>
		</div>
		<div>
			<ul class="nav navbar-nav">
				<li><%= link_to "Products", products_path, :method => :get %></li>
				<% if user_signed_in? %>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>
		  			<ul class="dropdown-menu">
						<li><%= link_to "All categories", categories_path, :method => :get %></li>
						<li><%= link_to 'New Category', new_category_path, class: "btn btn-success btn-md" %></li>
		  			</ul>
				</li>
				<% end -%>

				<li><%= link_to "Users", users_path, :method => :get %></li> 
				<% if user_signed_in? %>
				<li class="dropdown">
		  			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%=current_user.firstname%>'s products <span class="caret"></span></a>
		  			<ul class="dropdown-menu">
			  			<% if user_signed_in? && current_user.products.count != 0 %>
						<li><%= link_to ""+current_user.firstname+"\'s sellings", product_path(current_user), :method => :get %></li> 
			  			<% end %>
			  			<li><%= link_to ""+current_user.firstname+"\'s buyings", product_path(current_user), :method => :get %></li> 
			  			<li><%= link_to ""+current_user.firstname+"\'s bidings", product_path(current_user), :method => :get %></li>
						<li><%= link_to 'New Product', new_product_path, class: "btn btn-success btn-md" %></li>
		  			</ul>
		  		</li>
		  		<% end -%>
	  		</ul>

			<ul class="nav navbar-nav navbar-right"> 
				<% if user_signed_in? %>
				<li><%= link_to ('<span class="glyphicon glyphicon-user"></span>  '+current_user.firstname+'').html_safe, user_path(current_user.id), :method => :get , class: 'btn btn-warning navbar-btn' %></li>
				<li><%= link_to '<span class="glyphicon glyphicon-log-out white"></span> Sign Out'.html_safe, destroy_user_session_path, :method => :delete, class: 'btn btn-danger navbar-btn' %></li>
				<% else %>
				<li><%= link_to '<span class="glyphicon glyphicon-log-in"></span> Sign In'.html_safe, new_user_session_path, :method => :get , class: 'btn btn-success navbar-btn' %></li>
				<li><%= link_to '<span class="glyphicon glyphicon-user"></span> Sign up'.html_safe, new_user_registration_path, :method => :get , class: 'btn btn-primary navbar-btn' %></li>
				<% end %>
			</ul>
		</div>
	</div>
</nav>
