<!DOCTYPE html>
<html>
<head>
  <title>Webapprails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-fluid"> 
	<%= render "layouts/header" %>
	<%= render "layouts/navbar" %>
	<% if notice.present? %>
		<div class="alert alert-success">
		<p class="notice"><%= notice %></p>
		</div>
	<% end %>
	<% if alert.present? %>
		<div class="alert alert-danger">
		<p class="alert"><%= alert %></p>
		</div>
	<% end %>
	
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-lg-10">
			<section>
				<%= yield %>
			</section>
		</div>
		<div class="col-xs-12 col-lg-2">
			<%= render "layouts/sidebar" %>
		</div>
	</div>
	<%= render "layouts/footer" %>
</div>


</body>
</html>
