<!DOCTYPE html>
<html>
<head>
  <title>Webapprails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "layouts/navbar" %>
<% if notice.present? %>
<div class="alert alert-success">
<p class="notice"><%= notice %></p>
</div>
<% end %>
<% if alert.present? %>
<div class="alert alert-danger">
<p class="alert"><%= alert %></p>
</div>
<% end %>

<%= yield %>

</body>
</html>
